version: "3.9"

services:
  flask:
    build: .
    container_name: flask_app
    restart: always
    volumes:
      - ./app:/app
    expose:
      - "5000"

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "127.0.0.29:80:80"
      - "127.0.0.29:443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./app/uploads:/app/uploads
    depends_on:
      - flask
