version: "3.9"

services:
  flask:
    build: .
    container_name: flask_app
    restart: always
    volumes:
      - ./app:/app
    expose:
      - "5000"

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - nginx_cert_data:/etc/letsencrypt
      - ./app/uploads:/app/uploads
    depends_on:
      - flask

volumes:
  nginx_cert_data:
